# Ignore the virtual environment folder
venv/

# Ignore Python bytecode files
__pycache__/
*.pyc

# Ignore environment variables file
.env

# Ignore other files or folders as needed
accounts.txt
transactions.txt
categories.txt
.DS_Store

# Ignore data files
*.csv
*.txt