:3000 {
    encode gzip

    # Global basic authentication with bcrypt hash
    basic_auth /* {
        $(htpasswd -nbB ${BASIC_AUTH_USERNAME} ${BASIC_AUTH_PASSWORD})
    }

    # Handle API requests
    handle /api/* {
        uri strip_prefix /api
        reverse_proxy localhost:8000
    }

    # Handle static files
    handle {
        root * /app/frontend
        try_files {path} {path}.html /index.html
        file_server
    }
}